body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#whoText{
    color: rgb(252, 210, 60);
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh 50vh;
}

.container1{
    /* background: brown; */
    /* border: 2px solid black; */
    /* background: #e8e8e8; */
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: 1/1/3/2;
}

.backQuestion{
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
}
.backQuestion p {
    /* background: rgba(255,255,255,0.3); */
    color: floralwhite;

}

.container1 img {
    height: 50%;
    width: 50%;
    float: left;

}
#myPicture {
    height: 345px;
    width: 310px;
    border-radius: 25px;
    margin: 43px 15px 3px 97px;
    transition: all 0.5s ease-in-out;
}

#myPicture:hover {
    
    transform: scale(1.3);
    transition: all 0.5s ease-in-out;
}

.content1 {
    background-image: url(images/canvas.jpg);
    
    /* margin: 50px 100px; */
    
    
    height: 100%;
    /* color: #fff; */
}
.container1 h1{
    font-size: 45px;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 50px;
    color: floralwhite;
    
}

.container1 p{
    font-size: 20px;
    text-align: justify;
    padding: 25px 100px;

}

.container2{
    
    /* border: 2px solid rgb(170, 24, 24); */
    background-image: url(images/pens-rotated2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
.container2 h2 {
    
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-top: 1.1em;
    /* color: white; */
    font-size: 35px;

}
.back {
    /* background-color: rgba(0, 0, 0, 0.5); */
    height: 50vh;
}
ul {
    margin-bottom: 10px;
    margin-top: 10px;
}
.exp {
    /* background: #fc766Aff; */
    display: grid;
    grid-template-columns: 1fr 1fr;  
    height: 350px;  
    /* color: white; */
}

.projects {
    /* background: blue; */
    font-size: 20px;
    padding-left: 121px;

}
.projects ul li a{
    text-decoration: none;
    color: black;
    /* color: white; */
    
}


.othersExp{
    /* background: blueviolet; */
    font-size: 20px;
    padding-left: 137px;
}

button[class *= read] {
    background: rgb(24,66,69);
    color: white;
    height: 25px;
    font-size: 15px;
    margin-top: 0px;
    margin-left: 21px;
}



#title {
    padding-top: 25px;
    text-align: center;
    font-size: 35px;
}

.paragraph {
    text-align: justify;
    font-size: 25px;
    margin: 50px 100px;
}

                    /* Contact Me area  */
.container3 img{ 
    height: 50vh;
    width: 50vw;
    
}

.container3{
    /* background: chartreuse; */
    /* border: 2px solid rgb(77, 45, 45); */
    grid-area: 2/2/3/3;

}

.container3 .content{

    position: absolute;
    background: rgb(252, 210, 60);
    color: rgb(10, 1, 1);
    bottom: 0;
    height: 50vh;
    width: 50vw;

}

.form {
    display: flex;
    flex-direction: column;
    color: black;
}

.form h2{
    margin-left: 20px;
    font-size: 20px;
    margin-top:15px;
    margin-bottom: 5px;
    
}
.form input {
    width: 300px;
    margin-left: 20px;
    margin-top:5px;
    height: 25px ;
}
.form textarea {
    width: 300px;
    margin-left: 20px;
    margin-top:5px;
}

#submit_button{
    height: 25px;
    margin-top: 10px;
    margin-left: 268px;
    color: white;
    background: black;    
}

.social-content{
    display: flex;
    justify-content: space-between;
}

.contact-info{
    margin-right: 5%;


}
#email {
    margin-bottom: 40px;
    padding-left: 10px;

}
#email_span {
    padding-left: 15px;
    font-weight: 600;
    font-size: 20px;
}
#phone{
    margin-top: 40px;
    margin-bottom: 40px;
}
#phone_span {
    padding-left: 24px;
    font-weight: 600;
    font-size: 28px;
}

#social_icons{
    margin-top: 20px;
    padding-right: 25px;

}
.fa-linkedin {
    padding-left: 100px;
    color: black;
}

a .fa-linkedin:hover {
    color: rgb(14, 118, 168);
}

.fa-github {
    margin-left: 80px;
    color: black
}

a .fa-github:hover {
    color: purple
}



                                /* Modal */

.modal {
    position: fixed;
    background: hsla(0,0%,30%,0.5);
    height: 100vh;
    width: 100vw;
    display: none;
    z-index: 2;
}
.innerModal {
    
    position: fixed;
    background: rgb(24,66,69);
    height: 550px;
    width: 2000px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 12;

}

#xBtn {
    font-size: 40px;
    font-weight: 800;
    float: right;
    margin-right: 100px;
    cursor: pointer;
    color: ivory;
}
.modal p {
    margin-top: 25px;
}







