body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    gap: 1em 1em;
    margin-top: 1em;
    margin-left: 1em;
    width: 938px;

}

img{
    height: 200px;
    width: 300px;
    border: 1px solid black;
}






















