body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(126, 127, 128);
}
.wrapper {
    height: 300px;
    width: 623px;
    background: rgb(255, 255, 255);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}

form {
    /* padding-left:41px ;
    padding-right: 41px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 85px 85px 85px ;
    margin: 22.5px;
    justify-content: center;
    align-content: center;
    text-align: center;
    
}
input {
    height: 50px;
    width: 246px;
    background: rgb(206, 176, 10);
    margin-left: 15px;
    margin-top: 15px;
    font-size: 20px;
    border: none;
    border-radius: 0;
    text-align: center;
}

select{
    height: 50px;
    width: 250px;
    background: rgb(206, 176, 10);
    margin-left: 15px;
    margin-top: 15px;
    font-size: 20px;
    border: none;
    text-align: center;
}

p {
    height: 50px;
    width: 250px;
    background: rgb(206, 176, 10);
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 15px;
    text-align: center;
    
}














