*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    
}

div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    
    
}
h1{
    display: flex;
    font-size: 45px;    
    justify-content: center;

}
h2{
    display: flex;
    color: green;
    justify-content: center;

}
#noteArea{
    display: flex;
    justify-content: center;
    background-color: none;
    font-size: 25px;
    margin-right: 10px;
}

#txtarea{
    background: rgba(255,255,255,0);
}

.buttons-add{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.addNote{
    display: flex;
    width: 200px;
    justify-content: center;
    font-size: 15px;
    font-weight: 800;
    margin-left: 2%;

}

.randomBtn{
    display: flex;
    width: 200px;
    justify-content: center;
    font-size: 15px;
    font-weight: 800;
    margin-left: 3%;
    margin-right: 3.5%;
}

#numberSize{
    display: flex;
    width: 200px;
    justify-content: center;
    font-size: 15px;
    font-weight: 800;
    
}

.block {
    border: 1px rgba(128, 128, 128, 0.562) solid;
    max-width: 350px;
    min-width: 300px;
    height: 100px;
    margin-left: 20%;
    margin-bottom: 25px;
    padding: 0;
    border-radius: 10px;


}
.block button{
    width: 30%;
    margin-left: 5%;
    color: white;
    background: limegreen;
    margin-bottom: 5px;
}
.block p {
    text-overflow: ellipsis;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 10px;
    margin-bottom: 25px;
}
#xBtn{
    font-size: 25px;
    font-weight: 800;
    text-align: right;
    margin-right: 20px;
    cursor: pointer;
}
.modal{
    position: fixed;
    width: 900px;
    min-height: 150px;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(173, 167, 167);
    border-radius: 5px;
    display: none;
    background: white;
    box-shadow: 5px 10px 8px #888888;
    z-index: 1;

}
.modal div {
    width: 50px;
    float: right;
}
.modal p {
    font-size: 1.2em;
    padding-left: 5px;
    padding-right: 5px;
    
}

.container {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    width: 80%;
    margin: auto;
    margin-top: 25px;
    
}

button {
    cursor: pointer;
}









